%p
  = link_to "@re4k", "https://twitter.com/re4k"
  が Favstar BAN されたので仕方なく代わりを作りました。
%p
  = link_to "@KOBA789", "https://twitter.com/KOBA789"
  さんにサーバーを借りています。
%p
  そーすはこっち
  = link_to "GitHub", "https://github.com/rhenium/aclog"
%p
  使用しているもの
  %ul
    %li
      読み込み中アニメーションGIF
      %span= link_to "http://www.ajaxload.info/", "http://www.ajaxload.info/"
%h3 各ページのURLについてメモ
%dl
  %dt best
  %dd= link_to "/cn", "/cn"
  %dt recent(最近3日のbest)
  %dd= link_to "/cn/recent", "/cn/recent"
  %dt timeline(Favstar の Recent)
  %dd= link_to "/cn/timeline", "/cn/timeline"
%p まだいろいろありますがユーザーのページを開くとサイドバーに一覧があるのでそちらからどうぞ
%dl
  %dt 全体のbest
  %dd= link_to "/i/best", "/i/best"
  %dt 全体の最新3日のbest
  %dd= link_to "/i/recent", "/i/recent"
  %dt 全体の最新反応あり
  %dd= link_to "/i/timeline", "/i/timeline"
%p
  Favstar のパスにアクセスされた場合リダイレクトするようになっているはず…
/%h3 検索クエリ
/%p 半角スペース区切りで、すべて AND 検索になります。OR 検索付けたいけどまだ使えません。
/%p order 以外は先頭に - を付けることで否定になります。
/%dl
/  %dt ユーザーの
/  %dd user:cn
/  %dt 反応数 〜〜以上
/  %dd reaction:30
/  %dd favorite:30
/  %dd retweet:30
/  %dt 並び替え
/  %dd order:old
/  %dd order:reaction
/  %dd order:favorite
/  %dd order:retweet
/  %dt 期間
/  %dd 20130328..20130330
/  %dt ツイート本文・クライアント名での検索はできません。クライアント名での検索は付けたいけれど…%p
