%h1 aclog
.lead
  Favstar クローン
%p
  = link_to "@KOBA789", "https://twitter.com/KOBA789"
  さんにサーバーを貸していただけることになりました…！！ありがとうございます！ありがとうございます！！！
.alert
  開発中です。まだ不具合あるかもしれません。一応動いてるっぽいですが
%p
  基本的に Favstar のパクリです。トロフィー・50favs通知以外の機能は一応全部つけたつもり。
  トロフィー機能って必要ですかね、Favstar Pro じゃないし Favstar BAN されたしわかりません。
%p
  不具合があったら私
  = link_to "re4k@re4k.info", "mailto:re4k@re4k.info"
  にメールするか、
  = link_to "@sg4k", "https://twitter.com/sg4k"
  へリプライを飛ばしてくれるとありがたいです。
%h3 URL
%dl
  %dt best
  %dd= link_to "/sg4k", "/sg4k"
  %dt recent(最近3日のbest)
  %dd= link_to "/sg4k/recent", "/sg4k/recent"
  %dt timeline(Favstar の Recent)
  %dd= link_to "/sg4k/timeline", "/sg4k/timeline"
%p まだいろいろありますがユーザーのページを開くとサイドバーに一覧があるのでそちらからどうぞ
%dl
  %dt 全体のbest
  %dd= link_to "/i/best", "/i/best"
  %dt 全体の最新3日のbest
  %dd= link_to "/i/recent", "/i/recent"
  %dt 全体の最新反応あり
  %dd= link_to "/i/timeline", "/i/timeline"
%p
  Favstar のパスにアクセスされた場合リダイレクトするようになっているはず…

