%p
  %strong (´へεへ`*) ＜ トップページだよ〜〜
%p
  Favstar クローンです。UserStreams つかってます。
  = link_to "@KOBA789", "https://twitter.com/KOBA789"
  さんにサーバーを貸していただけることになりました…！！ありがとうございます！ありがとうございます！！！
%p
  %strong まだ開発途中段階のものです。うごかなかったらごめんね
%p
  %strong 動作のテスト中ですので、途中で登録をうちきったりあまりにふぁぼられ・ふぁぼりが多いユーザーの登録を削除する可能性もあります。
%p
  登録ユーザーだったら一番下に統計（？）が表示されてるんじゃないですかね
%div
  URLとかについて
  %div
    best:
    = link_to "/cat", "/cat"
  %div
    recent(最新3日のbest):
    = link_to "/cat/recent", "/cat/recent"
  %div
    timeline(Favstar の Recent):
    = link_to "/cat/timeline", "/cat/timeline"
  %div
    timeline(ユーザータイムライン):
    = link_to "/cat/timeline/all", "/cat/timeline/all"
  %div
    discovery:
    = link_to "/cat/discovered(/{favorite|retweet})", "/cat/discovered"
  %div
  %div
    全体のbest:
    = link_to "/i/best", "/i/best"
  %div
    全体の最新3日のbest
    = link_to "/i/recent", "/i/recent"
  %div
    URL 変えちゃうかもしれないです
  %div
    API っていえるのかな…？
    %div
      %p
        \/i/show.json?id=[tweet_id]
      %p
        \/users/{best|recent|timeline|discovered}.json
      %p
        screen_name
      %p
        user_id
      %p
        count
      %p
        include_user=true|false ← fav/RTしたユーザーを取得するか(false で ID のみ
      %p
        tweets={*tweet*|all} ← /users/timeline
      %p
        tweets={favorite|retweet|*all*} ← discovered
      %p
        page
%div
  = link_to "@cat", "https://twitter.com/cat"

