%p
  %strong (´へεへ`*) ＜ トップページだよ〜〜
%p
  Favstar クローンです。UserStreams つかってます。
  = link_to "@KOBA789", "https://twitter.com/KOBA789"
  さんにサーバーを貸していただけることになりました…！！ありがとうございます！ありがとうございます！！！
%p
  %strong まだ開発途中段階のものです。うごかなかったらごめんね
%p
  %strong 動作のテスト中ですので、途中で登録をうちきったりあまりにふぁぼられ・ふぁぼりが多いユーザーの登録を削除する可能性もあります。
%p
  登録ユーザーだったら一番下に統計（？）が表示されてるんじゃないですかね
%div
  URLとかについて
  %div
    best:
    = link_to "/sg4k", "/sg4k"
  %div
    recent(最新3日のbest):
    = link_to "/sg4k/recent", "/sg4k/recent"
  %div
    timeline(Favstar の Recent):
    = link_to "/sg4k/timeline", "/sg4k/timeline"
  %div
    timeline(ユーザータイムライン):
    = link_to "/sg4k/timeline/all", "/sg4k/timeline/all"
  %div
    discovery:
    = link_to "/sg4k/discovered(/{favorite|retweet})", "/sg4k/discovered"
  %div
    favs_from:
    = link_to "/sg4k/favs_from", "/sg4k/favs_from"
  %div
    rts_from:
    = link_to "/sg4k/rts_from", "/sg4k/rts_from"
  %div
  %div
    全体のbest:
    = link_to "/i/best", "/i/best"
  %div
    全体の最新3日のbest
    = link_to "/i/recent", "/i/recent"
  %div
    全体の最新反応あり
    = link_to "/i/timeline", "/i/timeline"
  %div
    URL 変えちゃうかもしれないです
  %div
    API っていえるのかな…？
    %div
      %p
        URL
        %p
          \/i/show.json?id=[tweet_id]
        %p
          \/users/{best|recent|timeline|discovered}.json
      %p
        params
        %p
          screen_name or user_id 必須
        %p
          count デフォルト10、100以下
        %p
          page ページ。1から
        %p
          include_user={true|} fav/RTしたユーザーを取得するか
        %p
          tweets={all|} timeline
        %p
          tweets={favorite|retweet|} discovered
        %p
          order={favorite|retweet|} best/recent
%div
  = link_to "@sg4k", "https://twitter.com/sg4k"

