.list-group
  = link_to "about", about_path, class: "list-group-item"
  = link_to "api", about_api_path, class: "list-group-item"
.list-group
  = link_to "best", best_path, class: "list-group-item"
  = link_to "recent", recent_path, class: "list-group-item"
  = link_to "timeline", timeline_path, class: "list-group-item"
