%ul.nav.nav-tabs.nav-stacked
  %li
    = link_to "about", about_path
  %li
    = link_to "api", about_api_path
%ul.nav.nav-tabs.nav-stacked
  %li
    = link_to "best", best_path
  %li
    = link_to "recent", recent_path
  %li
    = link_to "timeline", timeline_path
