.tweet
  .tweet
    .left
      .avatar
        = link_to user_path(tweet.user.screen_name) do
          = image_tag tweet.user.profile_image_url, alt: tweet.user.screen_name, title: tweet.user.name
      %ul.inline.actions
        %li.twitter
          = link_to image_tag("reply.png", alt: "reply"), "https://twitter.com/intent/tweet?in_reply_to=#{tweet.id}"
          = link_to image_tag("retweet.png", alt: "retweet"), "https://twitter.com/intent/retweet?tweet_id=#{tweet.id}"
          = link_to image_tag("favorite.png", alt: "favorite"), "https://twitter.com/intent/favorite?tweet_id=#{tweet.id}"
    .tweet_content_fix
    .tweet_content
      .user
        %span.name= link_to tweet.user.name, user_path(tweet.user.screen_name)
        %span.screen_name= link_to tweet.user.screen_name, user_path(tweet.user.screen_name)
      .text
        - if authorized_to_show_user?(tweet.user)
          = simple_format(format_tweet_text(tweet.text))
        - else
          %span.quiet
            ユーザーは非公開です
      .meta.clearfix
        %span.twitter_bird
          = link_to image_tag("bird_gray_16.png", alt: "Twitter"), twitter_status_url(tweet), target: "_blank"
        %span.created_at
          = link_to format_time(tweet.tweeted_at), tweet_path(tweet.id)
        - if params[:action] == "show" && user_truncated?(tweet)
          %span.full
            = link_to "full", params.merge(full: true)
        %span.source
          = raw format_source_text(tweet.source)
  .stats
    - [["favs", tweet.favorites_count, tweet.favoriters], ["retweets", tweet.retweets_count, tweet.retweeters]].each do |title, count, users|
      - if count > 0
        %dl.dl-horizontal
          %dt
            %span.count= count
            %span.type= title
          %dd
            %ul.inline
              - users.limit(@user_limit).each do |m|
                %li
                  = link_to user_path(m.screen_name) do
                    = image_tag m.profile_image_url, alt: m.screen_name, title: m.name
