- if authorized_to_show_user? tweet.user
  .stats
    %dl
      - [["favs", tweet.favorites_count, tweet.favoriters], ["retweets", tweet.retweets_count, tweet.retweeters]].each do |title, count, users|
        - if count > 0
          %dt
            = link_to tweet_path(tweet.id, full: true) do
              %span.count= count
              %span.type= title
          %dd
            %ul.list-inline
              - users.limit(favorites_truncate_count).each do |m|
                %li
                  - if !m.protected? || session[:user_id] == m.id || session[:user_id] == tweet.user_id
                    = link_to user_path(m.screen_name) do
                      = image_tag m.profile_image_url, alt: "@#{m.screen_name}", title: "#{m.name} (@#{m.screen_name})"
                  - else
                    = image_tag "missing_profile_image.png", alt: "protected", title: "protected user"
- else
  .stats
    %dl
      - [["favs", tweet.favorites_count, tweet.favoriters], ["retweets", tweet.retweets_count, tweet.retweeters]].each do |title, count, users|
        - if count > 0
          %dt
            %span.count= count
            %span.type= title
