- title "@#{@user.screen_name} is Discovered By ..."
.col-sm-3.col-md-offset-1
  = render "shared/sidebar_user", user: @user
.col-sm-9.col-md-7.col-lg-6
  %h1
    %small #{@user.screen_name} is
    Discovered By ...
  .users
    %ul.user-list
      - @result.each do |user_id, *counts|
        - user = @cached_users[user_id]
        %li
          %a{href: user_discovered_by_user_path(screen_name: @user.screen_name, source_screen_name: user.screen_name), title: "#{user.name} (@#{user.screen_name})"}
            = profile_image_tag user
            %span= counts.sum
