- title "@#{@user.screen_name} is Discovering..."
.container
  .row
    .col-sm-3.col-md-offset-1
      .sidebar
        = render_sidebars
    .col-sm-9.col-md-7.col-lg-6
      %h1
        %small #{@user.screen_name} is
        Discovering ...
      .users
        %ul.user-list
          - @result.each do |user_id, *counts|
            - user = @cached_users[user_id]
            %li
              %a{href: user_favorited_by_user_path(screen_name: user.screen_name, source_screen_name: @user.screen_name), title: "#{user.name} (@#{user.screen_name})"}
                = profile_image_tag user
                %span= counts.sum
