= render :partial => "shared/user_nav", :locals => {:user => @user}
.items
  .item
    %h2= "@#{@user.screen_name}"
    %div
      = image_tag @user.profile_image_url_original, :alt => @user.screen_name
    %div
      %h3 Username
      %p= @user.screen_name
      %h3 Name
      %p= raw @twitter_user.name
      %h3 Tweets
      %p= @twitter_user.statuses_count
      %h3 Following
      %p= @twitter_user.friends_count
      %h3 Followers
      %p= @twitter_user.followers_count
      %h3 Favorites
      %p= @twitter_user.favourites_count
      %h3 Bio
      %p= raw @twitter_user.description
