.avatar
  = image_tag @user.profile_image_url_original, alt: @user.screen_name, width: 128, height: 128
%p profile
%dl.dl-horizontal
  %dt Username
  %dd= @user.screen_name
  %dt Name
  %dd= raw @user.name
  %dt tweets
  %dd= @stats[:stats_api][:tweets_count]
  %dt Following
  %dd= @stats[:stats_api][:friends_count]
  %dt Followers
  %dd= @stats[:stats_api][:followers_count]
  %dt Favorites
  %dd= @stats[:stats_api][:favorites_count]
  %dt Listed
  %dd= @stats[:stats_api][:listed_count]
  %dt Bio
  %dd= raw @stats[:stats_api][:bio]
- if @user.registered?
  %p records
  %dl.dl-horizontal
    %dt Favorited
    %dd= @stats[:favorited_count]
    %dt Retweeted
    %dd= @stats[:retweeted_count]
    %dt Since
    %dd= @user.account.created_at
