- title "@#{@user.screen_name}'s Stats"
.avatar
  = profile_image_tag @user, :original
- if @user.registered? && @user.account.active?
  %p records
  %dl.dl-horizontal
    %dt Received reactions
    %dd= @user.stats.reactions_count
    %dt Registered
    %dd= @user.account.created_at
    %dt Last update
    %dd= @user.stats.updated_at
