- title "Stats"
- caption :title
- sidebar :users
.avatar
  = image_tag @user.profile_image_url_original, alt: @user.screen_name, width: 128, height: 128
%p profile
%dl.dl-horizontal
  %dt Username
  %dd= @user_twitter.screen_name
  %dt Name
  %dd= raw @user_twitter.name.gsub(/&(?!(amp;|gt;|lt;|quot;|apos;))/, "&amp;")
  %dt tweets
  %dd= @user_twitter.statuses_count
  %dt Following
  %dd= @user_twitter.friends_count
  %dt Followers
  %dd= @user_twitter.followers_count
  %dt Favorites
  %dd= @user_twitter.favourites_count
  %dt Listed
  %dd= @user_twitter.listed_count
  %dt Bio
  %dd= raw @user_twitter.description.gsub(/&(?!(amp;|gt;|lt;|quot;|apos;))/, "&amp;")
- if @user.registered? && @user.account.active?
  %p records
  %dl.dl-horizontal
    %dt Favorited
    %dd= @user.stats.favorited_count
    %dt Retweeted
    %dd= @user.stats.retweeted_count
    %dt Registered
    %dd= format_time @user.account.created_at
    %dt Last update
    %dd= format_time @user.stats.updated_at
