.sidebar
  %p<
    = profile_image_tag user, :original, class: "img-rounded", width: 64, height: 64
  %p= "@" + user.screen_name
  %p<
    %a.aclogicon.aclogicon-twitter{href: user.twitter_url}
  - if user.registered?
    %ul.records
      %li<
        %span> Received
        %span.data>= user.stats.reactions_count
      %li<
        %span> Average
        %span.data>= "%.2f" % (user.stats.reactions_count.to_f / user.stats.tweets_count)
      %li<
        %span> Joined
        %span.data>
          = user.stats.since_join
          %span> d ago
  - else
    .alert.alert-aclog @#{user.screen_name} は aclog に登録していません

  .sidebar-list{class: defined?(thresholds) ? "row" : nil}
    .list-group{class: defined?(thresholds) ? "col-xs-6 col-sm-12" : nil}
      - if user.registered?
        = link_to_with_active "Best", user_path(user.screen_name), class: "list-group-item"
        = link_to_with_active "Timeline", user_timeline_path(user.screen_name), class: "list-group-item"
      - else
        = link_to_with_active "Best", user_best_path(user.screen_name), class: "list-group-item"
        = link_to_with_active "Timeline", user_path(user.screen_name), class: "list-group-item"
      = link_to_with_active "Favorites", user_favorites_path(user.screen_name), class: "list-group-item"
      - if user.registered?
        = link_to_with_active "Discovered by", user_discovered_by_path(user.screen_name), class: "list-group-item"
        = link_to_with_active "Discovered users", user_discovered_users_path(user.screen_name), class: "list-group-item"
    - if defined?(thresholds)
      .list-group.col-xs-6.col-sm-12
        = render "shared/_sidebar_thresholds", counts: thresholds
