%ul.nav.nav-tabs.nav-stacked
  %li
    = link_to "about", :controller => "main", :action => "about"
  %li
    = link_to "api", :controller => "main", :action => "api"
%ul.nav.nav-tabs.nav-stacked
  %li
    = link_to "best", :controller => "i", :action => "best"
  %li
    = link_to "recent", :controller => "i", :action => "recent"
  %li
    = link_to "timeline", :controller => "i", :action => "timeline"
