.item
  .tweet
    .left
      .avatar
        = link_to image_tag(item.user.profile_image_url, :alt => item.user.screen_name, :title => item.user.name), :controller => "users", :action => "best", :screen_name => item.user.screen_name
      %ul.inline.actions
        %li.twitter
          = link_to image_tag("reply.png", :alt => "reply"), "https://twitter.com/intent/tweet?in_reply_to=#{item.id}"
          = link_to image_tag("retweet.png", :alt => "retweet"), "https://twitter.com/intent/retweet?tweet_id=#{item.id}"
          = link_to image_tag("favorite.png", :alt => "favorite"), "https://twitter.com/intent/favorite?tweet_id=#{item.id}"
    .tweet_content_fix
    .tweet_content
      .user
        %span.name
          = link_to_user_page item.user.screen_name do
            = item.user.name
        %span.screen_name= link_to_user_page item.user.screen_name
      .text{:class => item.stolen_tweet ? "copied" : nil}
        = raw format_tweet_text(item.text)
      .meta.clearfix
        %span.twitter_bird
          = link_to image_tag("bird_gray_16.png", :alt => "Twitter"), twitter_status_url(item), :target => "_blank"
        %span.created_at
          = link_to format_time(item.tweeted_at), :controller => "users", :action => "show", :id => item.id
        - if item.stolen_tweet
          %span.copied
            = link_to "original", :controller => "users", :action => "show", :id => item.original.id
        %span.source
          = raw format_source_text(item.source)
  .stats
    - [["favs", item.favoriters], ["retweets", item.retweeters]].select{|m| m[1].count > 0}.each do |type, actions|
      %dl.dl-horizontal
        %dt
          %span.count= actions.count
          %span.type= type
          - if user_limit && params[:action] == "show"
            %span.full
              = link_to "show full", params.merge(:full => true)
        %dd
          %ul.inline
            - actions.take(user_limit || actions.count).each do |m|
              %li
                = link_to_user_page m.screen_name do
                  = image_tag m.profile_image_url, :alt => m.screen_name, :title => m.name
