.item
  .tweet
    .avatar
      - user = u(item)
      = link_to image_tag(user.profile_image_url), user_url(user), :title => user.name
    .tweet_content_fix
    .tweet_content
      .user
        %span.name
          = link_to user.name, user_url(user)
        %span.screen_name
          = link_to "@#{user.screen_name}", user_url(user)
      .text
        = raw format_tweet_text(item.text)
      .meta.clearfix
        = link_to image_tag("bird_gray_16.png"), twitter_status_url(item), :target => "_blank", :class => "twitter_bird"
        = link_to format_tweet_created_at(item.tweeted_at), status_url(item), :class => "created_at"
        %span.source
          = raw format_source_text(item.source)
  .stats
    - [["FAVS", favoriters(item), "favs"], ["RETWEETS", retweeters(item), "retweets"]].each do |type, users, cssclass|
      %div{:class => "#{cssclass} clearfix"}
        .info
          %span.count= users.size
          %span.type= type
        .height_fix
        %ul.favoriters.clearfix
          - users.each do |m|
            %li
              = link_to image_tag(m.profile_image_url), user_url(m), :title => m.name

