- if @show_search
  = render :partial => "shared/search"
.items
  = render :partial => "shared/tweet", :collection => @items, :as => :item
.loading
  = image_tag "loading.gif", :alt => "loading...", :title => nil
- if @items
  - if params[:page]
    = link_to_next_page @items, raw("Next &#8250;")
  - elsif @items.last
    = link_to raw("Next &#8250;"), params.merge(:max_id => @items.last.id - 1), :rel => :next
