%h1 settings
= form_tag "/i/settings/update", method: :post do
  = check_box_tag :notification, true, @account.notification
  = label_tag :notification, "通知を有効にする"
  = check_box_tag :private, true, @account.private
  = label_tag :private, "best を非公開にする"
  = submit_tag

= link_to "Deactivate my account", controller: "settings", action: "confirm_deactivation"

