- title "Status"
.container
  %h1 Status
  - if @worker_status
    %h2 Worker Status
    %table.table
      %thead
        %tr
          %th Worker ID
          %th Status
          %th Uptime
      %tbody
        - @worker_status["active_node_statuses"].each do |node|
          - if node
            %tr
              %td ##{node["connection_id"]}
              %td Running
              %td= "#{(Time.now.to_i - node["activated_time"]) / 60} minutes"
          - else
            %tr.danger
              %td -
              %td Down
              %td -
    - if logged_in?
      - if your_node = @worker_status["active_node_statuses"][current_user.account.worker_number]
        %p Worker ##{your_node["connection_id"]} is assigned to your account.
      - else
        %p Worker for group #{current_user.account.worker_number} is currently down.
  - else
    .alert.alert-danger
      %strong Couldn't communicate with the collector service.
