- title "aclog API: #{format_endpoint_name(@endpoint)}"
.container
  .row
    .col-sm-3.sidebar
      = render_sidebar_content
    .col-sm-9
      %h1= format_endpoint_name(@endpoint)
      %p= @endpoint.route_description
      %h2 Resource URL
      %p= root_url + "api" + @endpoint.route_path # TODO
      %h2 Parameters
      %table.table.api-params
        %tbody
          - @endpoint.route_params.each do |name, options|
            %tr
              %th
                = name
                - if options[:required]
                  %small required
                - else
                  %small optional
              %td
                %p= options[:desc]
                %p
                  %b> Type
                  \: #{options[:type]}
      - if @endpoint.route_example_params
        %h2 Example Request
        %p
          %span= @endpoint.route_method
          %code#example_request_uri= root_url + "api" + @endpoint.route_path.sub(/\(\.:format\)$/, ".json") + "?" + @endpoint.route_example_params.to_param
        %pre
          %code
            #example_request_loading= image_tag "loading.gif", alt: "loading..."
