!!! xml
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %title= title
    = stylesheet_link_tag "application", media: "all"
    = stylesheet_link_tag params[:controller], media: "all"
    = javascript_include_tag "application"
    = javascript_include_tag params[:controller]
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
  %body
    .navbar.navbar-static-top
      .container
        .navbar-header
          = link_to "aclog", root_path, class: "navbar-brand"
        .navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              = link_to "about", about_path
            - if logged_in?
              %li= link_to "settings", settings_path
              %li= link_to "logout", logout_path
              %li= link_to "@" + session[:account].user.screen_name, user_path(session[:account].user.screen_name)
            - else
              %li= link_to "login", "/i/login"
    .container
      = yield
