!!! xml
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %title= @title
    = stylesheet_link_tag "application"
    = javascript_include_tag "twitter"
    = javascript_include_tag "application"
  %body
    .navbar.navbar-static-top
      .navbar-inner
        .container
          .brand
            = link_to "aclog", :controller => "main", :action => "index"
          %ul.nav.pull-right
            %li
              = link_to "search", :controller => "search", :action => "search"
            %li
              = link_to "about", :controller => "main", :action => "about"
            - if session[:user_id]
              %li= link_to "logout", :controller => "sessions", :action => "destroy"
              %li= link_to_user_page session[:account].user.screen_name
            - else
              %li= link_to "login", "/i/login"
    .container
      = yield
