!!! xml
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %title= yield :title
    %meta{name: "viewport", content: "width=device-width"}
    %meta{"http-equiv" => "X-UA-Compatible", content: "IE=edge,chrome=1"}
    %link{rel: "shortcut icon", href: image_path("favicon.ico")}
    %link{rel: "apple-touch-icon-precomposed", href: image_path("apple-touch-icon-precomposed.png")}
    %meta{name: "msapplication-TileImage", content: image_path("tile-image.png")}
    %meta{name: "msapplication-TileColor", content: "#f0eadb"}
    = stylesheet_link_tag "application", media: nil, "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    - if @next_url
      %link{rel: "next", href: @next_url}
    - if @prev_url
      %link{rel: "prev", href: @prev_url}
  %body{data: { controller: controller.controller_path, action: controller.action_name }}
    %nav.navbar.navbar-static-top
      .container
        .nav.navbar-nav.navbar-left
          = link_to "aclog", root_path, class: "navbar-brand"
        %ul.nav.navbar-nav.navbar-right
          %li.dropdown.omittable
            %a.dropdown-toggle{href: "#", data: { toggle: "dropdown" }}<
              All
              %span.caret/
            %ul.dropdown-menu
              %li= link_to "Best", best_path
              %li= link_to "Recent", recent_path
              %li= link_to "Timeline", timeline_path
          %li.dropdown.omittable
            %a.dropdown-toggle#jump_to_dropdown_toggle{href: "#", data: { toggle: "dropdown" }}<
              User
              %span.caret/
            %ul.dropdown-menu#jump_to_user
              %li
                %form#jump_to_form{autocomplete: "off"}
                  .input-group
                    %input.form-control#jump_to_textbox{type: "text", placeholder: "Username"}
                    %span.input-group-btn
                      %button.btn{type: "submit"} Go
          - if logged_in?
            %li.dropdown
              %a.dropdown-toggle{href: "#", data: { toggle: "dropdown" }}<
                = profile_image_tag current_user, :mini
                %span.caret/
              %ul.dropdown-menu
                %li= link_to "Best", user_path(current_user.screen_name)
                %li= link_to "Timeline", user_timeline_path(current_user.screen_name)
                %li= link_to "Discoveries", user_discoveries_path(current_user.screen_name)
                %li= link_to "Discovered by", user_discovered_by_path(current_user.screen_name)
                %li= link_to "Discovered users", user_discovered_users_path(current_user.screen_name)
                %li.divider
                %li= link_to "Setting", settings_path
                %li= link_to "Sign out", logout_path
          - else
            %li= link_to "Sign in", "/i/login?redirect_after_login=" + CGI.escape(request.fullpath), method: :post, class: "signup"
    = yield
