!!! xml
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %title= title
    = stylesheet_link_tag "application"
    = javascript_include_tag "twitter"
    = javascript_include_tag "application"
  %body
    .navbar.navbar-static-top
      .navbar-inner
        .container
          .brand
            = link_to "aclog", root_path
          %ul.nav.pull-right
            %li
              = link_to "about", about_path
            %li
              = link_to "search", search_path
            - if logged_in?
              %li= link_to "settings", settings_path
              %li= link_to "logout", logout_path
              %li= link_to session[:account].user.screen_name, user_path(session[:account].user.screen_name)
            - else
              %li= link_to "login", "/i/login"
    .container
      = yield
